*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* Border & Padding now included in Width & Height */
}

html {
  min-height: 100%;  /* Ensures HTML page is at least as high as browser viewport */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;  /* Ensures page body is at least as high as browser viewport */
  font-family: Garamond, 'Big Caslon', Times, serif;
  font-weight: 300;
  color: #000000;
}

.top-container-1 {
  width: 100vw;
  background-color: #EABF9F;
}

.remove-spacing {
  padding: 0;
}

/* ALERT MESSAGE CONTAINER */

.alert-message-box {  /* Control width of alert message by adjusting width property */
  width: 100%;
  /* background-color: grey; */
}

/* ALERT MESSSAGE BOX */

.alert-box {  /* First two lines allow multiple alerts to fade out slowly */
  transition: opacity 0.6s;
  opacity: 1;
  color: #EEEEEE;
  padding: 20px 20px 1.5px 20px;  /* Padding controls visible size of alert box */
  background-color: #EABF9F;
  position: relative;
}

/* CLOSE BUTTON */

.closebtn {
  transition: 0.3s;
  position: absolute;  /* positions close button relative to '.alert-box' */
  right: 20px;
  color: #EEEEEE;
  font-weight: 500;
  font-size: 1.375rem;
  cursor: pointer;
  /*transform: translate(8px, -12px);*/  /* Optional: Places close button on top right corner */
}

.closebtn:hover {
  color: #000000;
}


/* SAMPLE CONTENT */

.img-text-container {
  text-align: center;
}

.img-container {
  font-size: 1rem;
  color: #7E0FC5;
  display: inline-block;
  position: absolute;  /* MUST be positioned relative to '.alert-box' */
  left: 20px;
}

.text-container {
  display: inline-block;
}

.text {
  font-size: 1rem;
  color: #000000;
}
