* {  /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Border & Padding now included in Width & Height */
}

html {
    min-height: 100%;  /* Ensures HTML page is at least as high as browser viewport */
}

body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;  /* Ensures page body is at least as high as browser viewport */
    font-family: Candara, 'Arial Narrow', Futura, sans-serif;
    font-weight: 300;
    color: #000000;
}

.top-container {
    width: 100vw;
    height: 20vh;
    background-color: #FF96AD;
}

.middle-container {
    width: 100vw;
    background-color: #FFF5FD;
}

.text-container {
    width: 90%;
    margin: auto;
    padding-top: 135px;
    text-align: center;
    /* background-color: #FF0000; */
}

.text {
    font-size: 2.3rem;
}

.form-container {
    width: 85%;
    margin: auto;
    padding-bottom: 80px;
    /* background-color: #000000; */
}