* {  /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* border & Padding now included in Width & Height */
}

html {
  min-height: 100%;  /* Ensures HTML page is at least as high as browser viewport */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;  /* Ensures page body is at least as high as browser viewport */
  font-family: Candara, 'Goudy Old style', Helvetica, sans-serif;
  font-weight: 300;
  color: #050505;
}

#main {
  transition: margin-left 0.5s;
}

/* Side Navigation Menu */

.sidenav {  /* Targeting small-screen devices & others */
  transition: 0.5s;
  height: 100%;  /* Makes it FULL height */
  width: 0;  /* Changed with JavaScript */
  position: fixed;  /* Keeps sidenav in fixed position */
  top: 0;
  left: 0;
  z-index: 1;  /* Keeps sidenav on top */
  padding-top: 15px;  /* Small-screen */
  overflow-x: hidden;  /* This MUST be present! */
  background-color: #111111;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .sidenav {
    padding-top: 60px;
  }
}

.account-user-name {
  font-size: 1.4rem;
  color: #FFFF00;
  display: inline-block;  /* Allows margin to be applied */
  padding-left: 32px;  /* SAME as left padding applied to <a></a> tags below */
  padding-bottom: 20px;
  background-color: #FF0000;
}

/* The navigation menu links */

.sidenav a {  /* Targeting small-screen devices & others */
  padding: 8px 8px 8px 32px;
  font-size: 1.2rem;  /* Small-screen */
  color: #EEEEEE;
  line-height: 1.1;
  text-decoration: none;  /* Removes underline */
  display: block;  /* Lines up menu items vertically */
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .sidenav a {
    font-size: 1.4rem;
  }
}

.sidenav a:hover {
  color: #FFFFC5;
}

.sidenav .sidebar-icon {
  color: #EEEEEE;
}

.sidebar-icon .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2rem;
  margin-left: 50px;
}

.top-container {
  width: 100vw;
  background-color: #93329E;
}

.navbar {
  padding: 0.85% 5%;
  background-color: #93329E;
}

/* .navbar-brand {
  background-color: grey;
} */

.navbar-brand img {
  max-width: 100%;
  height: auto;
  width: 65px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .navbar-toggler {
    transform: translateX(18px);
  }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .navbar-toggler {
    transform: translateX(12px);
  }
}

.hamburger-icon {
  font-size: 1.6rem;
  color: #EEEEEE;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .navbar-nav {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .navbar-nav {
    margin-top: 8px;
  }
}

.nav-link {  /* Targeting small-screen devices & others */
  font-size: 1rem;  /* Small-screen */
  color: #EEEEEE;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .nav-link {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .nav-link {
    line-height: 1;
  }
}

.nav-link:hover {
  color: #FFFF00;
}

.sidenav-button-container {
  width: 100vw;
  background-color: #E4E4E4;  /* Should be the same as the rest of page */
}

.account-icon {
  font-size: 1.2rem;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  transform: translateX(68px);
}

.account-page {
  width: 100vw;
  background-color: #E4E4E4;
}

.text-container {
  width: 90%;
  margin: auto;
  text-align: justify;
  /* background-color: #FF0000; */
}

.text {
  font-size: 1.4rem;
}