<%- include('partials/header'); -%>

    <section class="middle-container">
      <div class="container-fluid">
  <div class="text-container">
    <h3 class="text">Fill out the form below!</h3>
  </div>
  <div class="form-container">
    <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="card form-background">
  <div class="card-body">
    <form action="" method="post">
  <div class="form-group">
    <label for="clientName"><span class="text-colour font-weight-bold">Name:</span></label>
    <input type="text" id="clientName" name="name" class="form-control" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="clientEmail"><span class="text-colour font-weight-bold">Email:</span></label>
    <input type="email" id="clientEmail" name="email" class="form-control" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="clientMessage"><span class="text-colour font-weight-bold">Message:</span></label>
    <textarea id="clientMessage" name="message" class="form-control" rows="15" autofocus></textarea>
  </div>
  <button type="submit" class="btn button-colour btn-block">Submit</button>
</form>
  </div>
</div>
    </div>
  </div>
</div>
  </div>
</div>
    </section>

<%- include('partials/footer'); -%>
