body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/* Tabs */

.tab {
  overflow: hidden;
  border: 1px solid #CCCCCC;
  background-color: #F1F1F1;
}

/* Opening Buttons */

.tab button {
  transition: 0.3s;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  background-color: inherit;
}

/* Change Button background colour on hover */

.tab button:hover {
  background-color: #DDDDDD;
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: #CCCCCC;
}

/* Tab Content */

.tabcontent {
  display: none;  /* hides tabs */
  padding: 6px 12px;
  border: 1px solid #CCCCCC;
  border-top: none;
}
