body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #F4ABC4;
}

/* NOTE: Styling is for aestetic purposes only */

.form-container {
  width: 600px;
  position: relative;
  top: 120px;
  left: 320px;
}

.form-group {
  position: relative;
}

.text-colour {
  color: #000000;
}

.form-group.success input {  /* The 'success' class is added by JavaScript */
  border: 1px solid #00FF00;
}

.form-group.success .img-container .fa-check-circle {  /* Make icon visible on success */
  color: #00FF00;
  visibility: visible;
}

.form-group.error input {  /* The 'success' class is added by JavaScript */
  border: 1px solid #FF0000;
}

.form-group.error .img-container .fa-exclamation-circle {  /* Make icon visible on success */
  color: #FF0000;
  visibility: visible;
}

.form-control {
  padding-bottom: 20px;  /* Creates space for error message */
}

.img-container {
  font-size: 1.1rem;
  color: #0000FF;
  position: absolute;
  top: 38px;
  left: 95%;
  visibility: hidden;  /* Hides icons by default, but still part of DOM */
}

.error-message {
  display: none;  /* Hides error message by default & removes from DOM */
}

.button-colour {
  color: #EEEEEE;
  background-color: #111111;
}

.button-colour:hover {
  color: #EEEEEE;
}
