* {  /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Border & Padding now included in Width & Height */
}

html {
    min-height: 100%;  /* Ensures HTML page is at least as high as browser viewport */
}

body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;  /* Ensures page body is at least as high as browser viewport */
    font-family: Candara, 'Arial Narrow', Futura, sans-serif;
    font-weight: 300;
    color: #050505;
}

.top-container {
    width: 100vw;
    height: 20vh;
    background-color: #325288;
}

.middle-container {
    width: 100vw;
    background-color: #F4EEE8;
}

.text-container {
    width: 90%;
    margin: auto;
    padding-top: 135px;
    text-align: center;
    /* background-color: #FF0000; */
}

.text {
    font-size: 2.3rem;
}

.form-container {
    width: 85%;
    margin: auto;
    padding-bottom: 80px;
    /* background-color: #000000; */
}

.form-background {
    background-color: #EEEEEE;
}

.form-group {
    position: relative;
}

.text-colour {
    color: #000000;
}

.form-group.success input {  /* The 'success' class is added by JavaScript */
    border: 1px solid #00FF00;
}

.form-group.success .img-container .fa-check-circle {  /* Make icon visible on success */
    color: #00FF00;
    visibility: visible;
}

.form-group.error input {  /* The 'error' class is added by JavaScript */
    border: 1px solid #FF0000;
}

.form-group.error .img-container .fa-exclamation-circle {  /* Make icon visible on error */
    color: #FF0000;
    visibility: visible;
}

.img-container {
    font-size: 1.1rem;
    color: #0000FF;  /* Just for testing only - not used in validation at all! */
    display: inline-block;
    position: absolute;
    top: 38px;
    left: 95%;
    visibility: hidden;  /* Hides icons by default, but still part of DOM */
}